.campodigitacao{
    font-size: 20px;
    height: 130px;
}

.frase{
    font-size: 20px;
}

.campodesabilitado{
    background-color: lightgray;
}

.icones{
    vertical-align: middle;
}

.campo-correto{
    border: 3px solid darkgreen;
}

.campo-incorreto{
    border: 3px solid darkred;
}

.placar{
    display: none;
}

body {
    overflow: scroll;
}

#erro{
    color: red;
    display: none;
}

#spinner{
    display: none;
}

#idFrase{
    width: 40px;
}

#botaoSync{
    float: right;
}

.select-usuarios{
    display: inline-block;
}
#usuarios{
    display:block;
}

.selectize-input {
    width: 150px;
    vertical-align: middle;
}

